<html>
<head>
   <title>Login</title>
   <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
   <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
   <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
   <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
   <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
   </script> 




</head>


<body class = "container" style="width: 40%;">   
   <div class = "row transparent z-depth-5" id="frm">
      <form class = "form">
         <div class = "row">
            <div class = "input-field col s10">
               <i class = "material-icons prefix">account_circle</i>
               <input placeholder = "Full Name" id = "name"
               type = "text" class = "active validate" required />
               <label for = "name">Username</label>
            </div>
         </div>   
         <div class = "row">
            <div class = "input-field col s10">      
               <i class = "material-icons prefix">mode_edit</i>
               <label for = "Licence">Licence Number</label>
               <input id = "Licence" type = "text" placeholder = "Licence Number"
               class = "validate" required />          
            </div>
         </div>
      <!-- </div> -->

      <div class = "row">
         <div class = "input-field col s10">
            <i class = "material-icons prefix">contact_phone</i>
            <input placeholder = "Phone" id = "Phone" type = "tel"
            class = "validate">
            <label for = "email">Phone</label>
         </div>
      </div>

      <div class = "row">
         <div class = "input-field col s10">
            <i class = "material-icons prefix">face</i>
            <br>
            <p>
               <input id = "male" type = "radio" name = "gender"
               value = "male"  />
               <label for = "male">Male</label>
            </p>

            <p>
               <input id = "female" type = "radio" name = "gender"
               value = "female" checked />
               <label for = "female">Female</label>
            </p>

            <p>
               <input id = "others" type = "radio" name = "gender"
               value = "others" checked />
               <label for = "others">Others</label>
            </p>

         </div>
      </div>

      <div class="row">
         <div class = "input-field col s10">
            <p>
               <i class="small material-icons">date_range</i>
               <input type="date" name="date" name="date">
            </p>
         </div>
      </div>

      <button class="btn waves-effect waves-light brown right"><i class="material-icons left">done</i>Submit</button>

   </form>       
</div>
</body>   
</html>