<!DOCTYPE html>
<html>
<head>

	<meta name = "viewport" content = "width = device-width, initial-scale = 1">      
   <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
   <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
   <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
	<title>Cursors</title>
</head>
<body>
<div class="container">
<a class="waves-effect waves-light btn-large"><i class="material-icons left">arrow_back</i>LEFT</a>
<a class="waves-effect waves-light btn-large"><i class="material-icons right">arrow_upward</i>UP</a>
<a class="waves-effect waves-light btn-large"><i class="material-icons left">arrow_forward</i>RIGHT</a>
<a class="waves-effect waves-light btn-large"><i class="material-icons right">arrow_downward</i>DOWN</a>
</div>
</body>
</html>