<!DOCTYPE html>
<html>
<head>
	<title>Vehicles</title>
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">      
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
   	<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
</head>

<body>
	<div class="container">
		<button id="btn1" type="submit" class="waves-effect waves-light btn-large"><i class="material-icons left">arrow_back</i>LEFT</button>
		<button id="btn2" type="button" class="waves-effect waves-light btn-large"><i class="material-icons right">arrow_upward</i>UP</button>
		<button id="btn5" type="submit" class="waves-effect waves-light btn-large"><i class="material-icons left">stop</i>HALT</button>
		<button id="btn3" type="button" class="waves-effect waves-light btn-large"><i class="material-icons left">arrow_forward</i>RIGHT</button>
		<button id="btn4" type="button" class="waves-effect waves-light btn-large"><i class="material-icons right">arrow_downward</i>DOWN</button>
	</div>	

</body>
</html>