<!DOCTYPE html>
<html>
<head>
	<title>Vehicles</title>
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">      
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
   	<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
</head>

<body>
	<div class="container">
	<!-- <div class="left-align">

    <div class="row">
      <div class="col s6">
          
		<button id="btn1" type="submit" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons left">arrow_back</i></button>
		</div></div>

	 <div class="row">
      <div class="col s6">
		<button id="btn2" type="button" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons right">arrow_upward</i></button>
	</div></div>

	<div class="row">
      <div class="col s6">
		<button id="btn5" type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons left">stop</i></button>
</div></div>

<div class="row">
      <div class="col s6">

		<button id="btn3" type="button" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons left">arrow_forward</i></button>
</div></div>
<div class="row">
      <div class="col s6">
		<button id="btn4" type="button" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons right">arrow_downward</i></button>
	</div>
	</div>	
</div>
</div> -->

   <div class="row">
      <div class="col s6">
<table style="border-collapse: unset;">
        <thead>
          <tr>
              <th></th>
              <th><button id="btn2" type="button" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons right">arrow_upward</i></button></th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><button id="btn1" type="submit" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons left">arrow_back</i></button></td>
            <td><button id="btn5" type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons left">stop</i></button></td>
            <td><button id="btn3" type="button" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons left">arrow_forward</i></button></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td></td>
            <td><button id="btn4" type="button" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons right">arrow_downward</i></button></td>
            <td></td>
          </tr>

        </tbody>
      </table>

</div>

    <div class="col s6">
      <div class="card blue-grey darken-1" id="box1">
        <div class="card-content white-text">
          <span class="card-title">Co-Ordinates</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>

         <div class="card  green accent-4 " id="box2">
        <div class="card-content white-text">
          <span class="card-title">Distance</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>


      </div>
    </div>
  </div>  


</div>
</div>
</body>
</html>

