body
{
	padding: 0;
	margin: 0;
}

#btn1{
	width: 17%;
	margin-top: 25%;
	margin-left: -2%;
}

#btn2{
	width: 17%;
	margin-top: 10%;
	margin-left: 3%;
}

#btn3{
	width: 17%;
	margin-top: 25%;
	margin-left: 4%;
}

#btn4{
	width: 17%;
	margin-top: 38%;
	margin-left: -39%;
}

#btn5{
	width: 15%;
	margin-top: 20%;
}